<form>

     <div class="form-group">
    <label for="servername">Server Name </label>
    <input type="text" class="form-control" id="servername" ngModel="newServerName">

  </div>


      <div class="form-group">
    <label for="servercontent">Server Content </label>
    <input type="text" class="form-control" id="servercontent" ngModel="newServerContent" >

      </div>
    <button class="btn btn-primary" (click)="onAddServer()" )>Add Server</button>
    <button class="btn btn-primary" style="margin-left: 12px" (click)="onBlueServer()">Add Server Blueprint</button>

   </form>
